<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="../images/kurumaicon.jpg" type="image/x-icon">
        <link rel="stylesheet" href="../css/style.css">
        <title>Kuruma Details - Contacto</title>
    </head>
    <body>
        <header>
            <nav class="navbar flex-row container">
                <a class="navbar__brand" href="../../index.html">
                    <img src="../images/logo.jpg" alt="logo"></a>
                <ul class="navbar__link__list flex-row">
                    <li>
                        <a href="./servicios.html">SERVICIOS</a>
                    </li>
                    <li>
                        <a href="./galeria.html">GALERIA</a>
                    </li>
                    <li>
                        <a href="./nosotros.html">NOSOTROS</a>
                    </li>
                    <li>
                        <a href="./contacto.html">CONTACTO</a>
                    </li>
                </ul>
            </nav>
        </header>
    <main>
        <section class="galeria">
            <div class="galeria__container">
                <img class="galeria__cuarto" src="../images/foto1.JPG" alt="foto1">
                <img class="galeria__cuarto" src="../images/foto2.JPG" alt="foto2">
                <img class="galeria__cuarto" src="../images/foto3.JPG" alt="foto3">
                <img class="galeria__cuarto" src="../images/foto4.JPG" alt="foto4">
                <img class="galeria__tercio" src="../images/foto5.JPG" alt="foto5">
                <img class="galeria__tercio"src="../images/foto6.JPG" alt="foto6" >
                <img class="galeria__tercio" src="../images/foto7.JPG" alt="foto7">
            </div>
        </section>
    </main>    
    <footer class="footer">
        <div class="footer__container flex-row container">
            <div class="footer__text">
                <p>Dirección: Miguel Ángel 5721, Villa Bosch, Buenos Aires.</p>
            </div>
            <div class="footer__item">
                <a class="footer__link" target="_blank" href="https://www.instagram.com/kurumadetails/?hl=es-la">
                    <img src="../images/ig.png" alt="instagram" width="50">
                </a>
                <a class="footer__link" target="_blank" href="https://wa.me/5491138454258">
                    <img src="../images/wp.png" alt="whatsapp" width="50">
                </a>
            </div>
        </div>
    </footer>
</body>
</html>