<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="../images/kurumaicon.jpg" type="image/x-icon">
        <link rel="stylesheet" href="../css/style.css">
        <title>Kuruma Details - Contacto</title>
    </head>
    <body>
        <header>
            <nav class="navbar flex-row container">
                <a class="navbar__brand" href="../../index.html">
                    <img src="../images/logo.jpg" alt="logo"></a>
                <ul class="navbar__link__list flex-row">
                    <li>
                        <a href="./servicios.html">SERVICIOS</a>
                    </li>
                    <li>
                        <a href="./galeria.html">GALERIA</a>
                    </li>
                    <li>
                        <a href="./nosotros.html">NOSOTROS</a>
                    </li>
                    <li>
                        <a href="./contacto.html">CONTACTO</a>
                    </li>
                </ul>
            </nav>
        </header>
    <main>
        <section class="nosotros">
            <div class="nosotros__container">
                <article>
                    <h2>¿Quienes somos?</h2>
                    <p>Kuruma Details es un taller de detailing que se inicio hace un año como microemprendimiento, con un constante crecimiento 
                    gracias a sus ganas de desarrollarse cada día, ponderando trabajos de calidad con una atención al cliente personalizada 
                    de excelencia, dando grandes pasos en busqueda de establecerse cada día más en el mercado, utilizando la fílosofia de 
                    poder superarse y dar un mejor servicio al vehiculo del cliente.</p><br>
                    <ul>Proceso de trabajo:
                        <li>Contactate con nosotros y contanos tu idea o necesidad</li>
                        <li>Recibimos tu vehiculo ya con los elementos a utilizar esperandote</li>
                        <li>Manos profesionales entran en acción</li>
                        <li>Comprobamos la perfecta terminación del trabajo</li>
                        <li>Te entregamos tu vehiculo listo para que lo disfrutes</li>
                    </ul><br>
                    <h3>¿Dónde nos encontramos?</h3>
                    <p>Nuestro taller se ubica en la calle Miguel Ángel 5721, Villa Bosch, Zona Oeste, Buenos Aires.</p>
                </article>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="footer__container flex-row container">
            <div class="footer__text">
                <p>Dirección: Miguel Ángel 5721, Villa Bosch, Buenos Aires.</p>
            </div>
            <div class="footer__item">
                <a class="footer__link" target="_blank" href="https://www.instagram.com/kurumadetails/?hl=es-la">
                    <img src="../images/ig.png" alt="instagram" width="50">
                </a>
                <a class="footer__link" target="_blank" href="https://wa.me/5491138454258">
                    <img src="../images/wp.png" alt="whatsapp" width="50">
                </a>
            </div>
        </div>
    </footer>
</body>
</html>