<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="../images/kurumaicon.jpg" type="image/x-icon">
        <link rel="stylesheet" href="../css/style.css">
        <title>Kuruma Details - Contacto</title>
    </head>
    <body>
        <header>
            <nav class="navbar flex-row container">
                <a class="navbar__brand" href="../../index.html">
                    <img src="../images/logo.jpg" alt="logo"></a>
                <ul class="navbar__link__list flex-row">
                    <li>
                        <a href="./servicios.html">SERVICIOS</a>
                    </li>
                    <li>
                        <a href="./galeria.html">GALERIA</a>
                    </li>
                    <li>
                        <a href="./nosotros.html">NOSOTROS</a>
                    </li>
                    <li>
                        <a href="./contacto.html">CONTACTO</a>
                    </li>
                </ul>
            </nav>
        </header>
    <main>
        <section class="servicios">
            <div class="servicios__container">
                <h2 class="servicios_titulo">Nuestros servicios disponibles
                </h2>
                <h3>Tratamiento Cerámico
                </h3> 
                <p>La función de los Tratamientos Cerámicos, también llamado Cristal Líquido es la de brindar protección, 
                    brillo y profundidad a la pintura, que con el mantenimiento adecuado tienen 
                    una protección por un periodo de 1 a 3 años y más, según su calidad.
                </p>
                <h3>Limpieza de Interior
                </h3>
                <p>El detallado interior es también un proceso sistemático y laborioso, que repasa el habitáculo
                    desde el suelo hasta el techo. Limpiando y restaurando todos los tapizados y detalles
                    que conforman el interior de nuestro auto.
                </p>
                <h3>Ploteo de carroceria
                </h3>
                <p>Se trata de un sistema de “envoltura” de cualquier vehículo con materiales adhesivos removibles, más comúnmente conocidos como vinilos,
                    con el objetivo de modificar el color externo del mismo, o simplemente proteger la pintura original.
                </p>
                <h3>Restauración de ópticas
                </h3>
                <p>Su objetivo es el pulir imperfecciones, rayados u opacamiento, aplicando liquido ceramico y sellado,
                    logrando un brillo y embellecimiento perfecto.
                </p>
                <h3>Limpieza de motor
                </h3>
                <p>Lavado cuidadoso y profundo del mismo, dejando atras restos de aceite, grasa, tierra y todo tipo de manchas, 
                    tomando las precauciones necesarias en las zonas electricas para asegurar un resultado plenamente positivo.
                </p>
                <h3>Trabajos Autos Preventa
                </h3>
                <p>Corresponde a una limpieza de interior, motor y abrillantado (pulido básico para levantar el brillo) perfecta,
                    para dejar tu vehiculo en su mejor versión, y tener un óptimo impacto previo a ponerlo en venta.
                </p>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="footer__container flex-row container">
            <div class="footer__text">
                <p>Dirección: Miguel Ángel 5721, Villa Bosch, Buenos Aires.</p>
            </div>
            <div class="footer__item">
                <a class="footer__link" target="_blank" href="https://www.instagram.com/kurumadetails/?hl=es-la">
                    <img src="../images/ig.png" alt="instagram" width="50">
                </a>
                <a class="footer__link" target="_blank" href="https://wa.me/5491138454258">
                    <img src="../images/wp.png" alt="whatsapp" width="50">
                </a>
            </div>
        </div>
    </footer>
</body>
</html>