footer {
    background: $color-tertiary;
    width: 100%;

    .footer__container {
        min-height: 10vh;
        justify-content: space-between;
        padding: 2rem 2rem;
        background-color: $color-tertiary;
    }

    .footer__text{
        color: $color-secondary;
        font-size: $text-lg;
        font-weight: bold;
        text-align: center;
        font-family: $font-primary;
        align-items: center;
        display: flex ;
        flex-basis: 40%;
        column-gap: 2.4rem;
        height: 4.4rem;

        p {
            margin-top: 1rem;
            margin-bottom: 1rem;
            padding: 0.5rem;
            background: $color-primary;
            border-radius: 6px;
        }
    }

    .footer__item {
        flex-basis: 30%;
        width: 30%; 
        align-items: center;
        display: flex;
        justify-content: space-around;
    }
}

/* Media */
@media only screen and (max-width: 820px) {
    .footer__container {
        font-size: 0.5em;
    }
} 