/*Main Contacto */
.contacto {
    min-height: 80vh;
    background: $color-primary;
    width: 100%;
    color: $color-secondary;

    .contacto__container {
        width: 60%;
        padding-top: 10rem;
        padding-bottom: 10rem;
        margin-left: auto;
        margin-right: auto;
        font-family: "custom-font";
        font-weight: bold;
        /*font-size: 2em;*/

        h3 {
            /*font-size: 2em;*/
            font-weight: bold;
        }
        
        .label{
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
        
        input{
            margin-top: 1rem;
            margin-bottom: 1rem;
            padding: 0.5rem;
            width: 100%;
            border: none;
        }
        
        button {
            padding: 1.5rem;
            border: none;
            color: $color-primary;
            font-family: "custom-font";
            font-weight: bold;
            border-radius: none;
            background: $color-secondary;
        }
    }
}