/*Main Contacto */
.contacto {
    min-height: 80vh;
    background: $color-primary;
    width: 100%;
    color: $color-secondary;

    .contacto__container {
        width: 60%;
        @include paddings(10rem, 10rem);
        @include margins(auto, auto);
        font-family: "custom-font";
        font-weight: bold;
        /*font-size: 2em;*/

        h3 {
            /*font-size: 2em;*/
            font-weight: bold;
        }
        
        .label{
            @include margins(1rem, 1rem);
        }
        
        input{
            @include margins(1rem, 0);
            margin-bottom: 2rem;
            padding: 0.5rem;
            width: 100%;
            border: none;
        }
        
        button {
            padding: 1.5rem;
            border-radius: 15px;
            border: none;
            color: $color-primary;
            font-family: "custom-font";
            font-weight: bold;
            background: $color-secondary;
        }
    }
}