/*Main Galeria */

.galeria {
    min-height: 80vh;
    background: $color-primary;
    width: 100%;
    padding-top: 8rem;
    padding-bottom: 10rem;
    margin-left: auto;
    margin-right: auto;

    .carousel {
        margin-left: 5%;
        margin-right: 5%;
    }
}